{% extends 'base.html' %}
{% block content %}
{%  load static %}
<link rel="stylesheet" href="{% static 'css/syllabusnav.css' %}">

<div class="sidenav1">
    <h5>Subjects:</h5>
    {% for subject in  subjects %}
    <li><a href="{% url 'syllabusdetail' id=subject.subjectid%}"><h6>{{ subject.name }}</h6></a></li>
    {% empty %}<li><h6>Sorry! No subjects added yet!</h6></li>
    {% endfor %}
    <h5>Open Electives:</h5>
    <h5>Professional Electives:</h5>
</div>

<!-- Page content -->
<div class="main">
  {% block syllabusmain %}
    {% endblock %}
</div>
{% endblock %}
<script>

</script>