{%  extends 'syllabus.html' %}
{%  load static %}
<link rel="stylesheet" href="{% static 'css/syllabusnav.css' %}">

{% block syllabusmain %}

    <h3>    {{ subject }}</h3>
    <br>

    <h4>UNIT 1:</h4>
    <h6>{{ subject.unit_1 }}</h6>
    <br>

    <h4>UNIT 2:</h4>
    <h6>{{ subject.unit_2 }}</h6>
    <br>

    <h4>UNIT 3:</h4>
    <h6>{{ subject.unit_3 }}</h6>
    <br>

    <h4>UNIT 4:</h4>
    <h6>{{ subject.unit_4 }}</h6>
    <br>

    <h4>UNIT 5:</h4>
    <h6>{{ subject.unit_5 }}</h6>
    <br>

{%  endblock %}